.table-row
  width auto
  z-index 5
  cursor pointer
  position relative
  display inline-flex

  &_disabled
    pointer-events none
    opacity 0.6

  &_even .td
    background-color #fafafa

  &_selected,
  &:hover
    z-index 50

  &:hover .td
    background-color #f3f9ff

  &_selected .td
    background-color #e3f1ff

  &_loading
    opacity 0.4
    pointer-events none

  &:not(&_selected)&highlighted::after
    top 0
    left 0
    width 100%
    height 100%
    content ""
    z-index 50
    position absolute
    pointer-events none
    box-shadow 0 0 0 1px rgba($accent_color, 0.8) inset
