.candidate-task-view
  display flex
  gap 16px
  align-items stretch
  &__data-display
    border 1px solid rgba(137, 128, 152, 0.16)
    background-color #FAFAFA
    display flex
    align-items center
    justify-content center
    flex 1 auto
  &__details
    background-color #FAFAFA
    border-radius 8px
    display flex
    width 256px
    border 1px solid rgba(137, 128, 152, 0.16)
    flex-direction column
  &__title
    font-style normal
    font-weight 500
    font-size 16px
    line-height 24px
    letter-spacing 0.1px
    color #1F1F1F
  &__detailContainer
    padding 16px
    border-top 1px solid rgba(137, 128, 152, 0.12)
    &:first-child
      border-top 0

@media (max-width 600px)
  .candidate-task-view
    flex-direction column
    &__details
      width auto
      flex 1 auto