@import "~antd/dist/antd.css";

.checkbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 2em;
  width: 90%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.antdTable {
  width: auto;
}

.selected,
.tags {
  float: right;
}
