@import "~antd/dist/antd.css";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.checkbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 2em;
  width: 90%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.antdTable {
  width: auto;
}

.selected,
.tags {
  float: right;
}
