.label-view
  height 100%
  width 100%
  display flex
  flex-direction column

  &__header
    flex 0
    display flex
    min-height 46px
    padding 0 1em 1em
    align-items flex-start
    justify-content space-between

    &_labelStream
      padding 1em 1em 0

  &__table
    display flex
    flex 200px 0 0
    flex-direction column

  &__content
    flex 1
    display flex
    padding-top 1em
    height calc(100% - 46px)

  &__dataview
    flex 1
    width 100%
    display flex
    min-width 200px
    box-shadow 0 0 0 1px #ccc

  &__lsf-wrapper
    flex 1
    overflow auto
    box-sizing border-box
    padding-bottom 50px
    overflow auto
    padding-left 1em

    &_mode
      &_explorer
        margin-top -13px
        padding-top 13px

  &__lsf-container
    width 100%
    height 100%
    display flex
    flex-direction column

  &__lsf-toolbar
    height 50px

  &__lsf-content
    flex 1
    overflow auto
    box-sizing border-box
    padding-bottom 50px
