.datepicker
  &__output
    width 100%
    display grid
    grid-auto-columns max-content
    grid-auto-flow column

    .input
      min-width 110px
      text-align center

  &__separator
    margin 0 10px
    display flex
    align-items center

