.datepicker
  &__output
    display grid
    grid-auto-columns min-content
    grid-auto-flow column

    .input
      width 110px

  &__separator
    margin 0 10px
    display flex
    align-items center

