.semanticSearch
  &__tooltipWrapper
    display flex
    align-items stretch
  &__container
    position relative

  &__controls
    display flex
    position absolute
    top 50%
    transform translateY(-50%)
    right 0
    gap 8px
    padding 4px
  &__icon
    display flex
    cursor pointer
    padding 4px
    border-radius 4px
    align-items center
    &_delete
      padding 4px 6px
      color #898098
      svg
        transform rotate(45deg)
    &:hover
      background rgba(9, 109, 217, 0.08)
  &__input
    border-radius 5px 0 0 5px 
  &__button
    height auto
    border-radius 0 5px 5px 0
.searchDropdown
  padding 12px 16px
  &__container
    display flex
    gap 50px
    justify-content space-between
  &__controls
    align-items center
    display flex
    gap 8px
    justify-content space-between
    .input
      width 40px
      padding 4px
      font-weight 500
      font-size 11px
      line-height 16px
      text-align center
      letter-spacing 0.5px
      color #413C4A
  &__description
    align-items center
    display flex
    gap 5px
  &__icon
    display flex
    align-items center