.semanticSearch
  display inline-flex
  align-items stretch
  &__container
    position relative

  &__icon
    position absolute
    top 50%
    transform translateY(-50%)
    &_prefix
      left 0
    &_filter
      right 0
  &__input
    border-radius 5px 0 0 5px 
  &__button
    height auto
    border-radius 0 5px 5px 0