.label-toolbar
  top 0
  flex 1em
  z-index 100
  min-height 32px
  display flex
  position sticky
  align-items center
  padding 0 1em 13px
  justify-content space-between
  background-color #f0f0f0

  &_labelStream
    padding 0 0 0 1em

  &__actions,
  &__tools
    flex 1
    display flex
    justify-content flex-end

  &__actions
    padding-left 10px

  &__tools
    max-width 320px
    margin-left 20px
