.annotators
  display grid
  grid-auto-flow column
  grid-column-gap 4px

  &__item
    z-index 1
    width 28px
    height 28px
    overflow hidden
    border-radius 100%
    position relative

    &:hover
      z-index 10
