.annotators
  display flex

  &__item
    width 28px
    height 28px
    overflow hidden
    border-radius 100%
    position relative
    box-shadow 0 0 0 2px rgba(#fff, 1)

    & + &
      margin-left -7px
