.menu
  &.dropdown
    &__actionmenu
      &_isNewUI
        li
          .menu
            &__item
              position relative
              padding 8px
              height auto
              &:not(.dm-menu__item_active):hover
                background-color transparent
                .menu
                  &_hasSubMenu:hover
                    background-color rgba(9, 109, 217, 0.12)
                  &__titleContainer
                    background-color rgba(65, 60, 74, 0.08)

            &__titleContainer
              display flex
              align-items center
              height 100%
              justify-content flex-start
              width 100%
              gap 8px
              padding 4px 16px
              border-radius 4px
            &_hasSeperator
              border-top 1px solid rgba(137, 128, 152, 0.12)
            &__title
              flex-grow auto
              font-style: normal
              font-weight: 400
              font-size: 16px
              line-height: 24px
              letter-spacing: 0.5px
              color: #1F1F1F
            &__submenu
              position absolute
              margin 0
              left 100%
              top 0
              padding 0