.actionButton
  position relative
  padding 8px
  &.menu__item
    height auto
    color #1F1F1F
    &.actionButton_isTitle
      color #096DD9
    &_look_danger
      color #d00
  &:not(.dm-menu__item_active):hover
    background-color transparent
    .menu
      &__titleContainer
        background-color rgba(65, 60, 74, 0.08)

  &_hasSubMenu
    .actionButton__titleContainer:hover
      background-color rgba(9, 109, 217, 0.12)
  &__titleContainer
    display flex
    align-items center
    height 100%
    justify-content space-between
    width 100%
    gap 8px
    padding 4px 16px
    border-radius 4px
    &:hover
      background-color rgba(65, 60, 74, 0.08)
  &_isTitle
    font-weight 500
    font-size 12px
    line-height 16px
    letter-spacing 0.5px
    color #096DD9
    cursor initial
    padding 16px 8px 0
    .actionButton
      &__titleContainer:hover
        background-color transparent
      &__title
        font-size 12px
    &:hover
      background-color transparent !important
      color #096DD9 !important
  &_isSeperator
    cursor initial
    height 1px
    background-color rgba(137, 128, 152, 0.12) !important
    padding 0
    .actionButton__titleContainer
      display none
    &.menu__item
      height 1px
    &:hover
      background-color transparent
  &_hasSeperator
    border-top 1px solid rgba(137, 128, 152, 0.12)
  &__title
    flex-grow 1
    font-size 16px

.actionButton-submenu
  margin 0
  padding 0
  list-style none